nav {
    border-bottom: solid 1px var(--accent);
    background-color: var(--accent);
    color: var(--light);
    margin: 0; 
    display: flex;
    justify-content: left;
}

nav>h1 {
    color: var(--light);
    padding: 0 1rem;
    font-weight: 100;
    margin:0;
    line-height: 1.4;
    flex: 1;
}

nav .nav-link {
    margin: 0;
    padding: 1rem;
    box-shadow: none;
    border: solid 1px var(--accent);
    background-color: var(--accent);
    color: var(--light);
    border-radius: 0;
    border-left:dashed 1px var(--light);
    font-size: 1.5rem;
    flex: 0;
}

nav button {
    background-color: var(--accent);
    color: var(--light);
    border-left:dashed 1px var(--light);
    font-size:1.5rem;
    border-radius: 0;
    min-width: fit-content;
}

.nav-link:hover,
button:hover,
button:focus {
    border: solid 1px var(--accent);
    border-left:dashed 1px var(--light);
    transition: none;
    filter:brightness(110%);
    outline: 0;
}