.slide-frame {
    z-index: 9;
    overflow: hidden;
}

.slide-elements {
    z-index: 0;
    overflow: hidden;
    display: flex;
    transition: transform 1s;
}

.slide-element {
    padding: 1rem;
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: end;
}