.splash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px var(--accent);
    border-radius: 10px;
    height: fit-content;
    padding: 0;
    align-self: center;
    background-color: var(--light);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.back-splash {
    width: 100%;
    background-color: var(--light);
    background-image:
        linear-gradient(to right, var(--light2), transparent 1px),
        linear-gradient(to bottom, var(--light2), transparent 1px);
    background-size: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1 {
    color: var(--accent);
    margin: 2rem;
}



label {
    margin-right: 1rem;
}

